ul {
    padding: 0px;
    margin:5px;
   
    &.rating li {
      padding: 0px 1px !important;
      background: none;
      color: #ffb400;
   
      ion-icon {
        font-size: 10px;
      }
    }
  }
