
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let h of history;let i=index" (click)="openIncidentDetailPage(i)" class="activeItem">
        <ion-row>
          <ion-col col-6 text-wrap>
            <b>{{h.againstCategoryName}}</b>
          </ion-col>
          <ion-col col-6 text-wrap text-right>
            <small>{{h.createdAt | date}}</small>
          </ion-col>
        </ion-row>
        <ion-badge [style.background]="h.statusColor">{{h.statusName}}</ion-badge>
      <p>{{h.description}}</p>
    </ion-card>
  </ion-list>

  <div class="emptyData" *ngIf="history?.length==0">
    <img src="assets/imgs/notfound.png">
     <h2 color="gray">No Records Found</h2>
  </div>
</ion-content>
