<!-- <ion-header>
    
      <div>
      <ion-buttons start>
        <button ion-button color="light"  clear (click)="dismiss()">
          <span><ion-icon name="close" class="closeIcon"></ion-icon></span>
        </button>                                                                   
      </ion-buttons>
      <ion-title>Register</ion-title>
      </div>

</ion-header> -->


<ion-content>

  <div class="bakgroundContent">
    <div>
      
        <div  color="light" clear (click)="dismiss()" text-right padding>
          <span >
            <ion-icon name="close" class="closeIcon"></ion-icon>
          </span>
        </div>
      
      <ion-title style="text-align: center;" class="registerTitlle"><b>Register</b></ion-title>
    </div>

    <ion-list>
      <form [formGroup]="registerForm" novalidate>

        <ion-item class="regiterFiled">
          <ion-icon name="person" color="primary" item-left class="registerIcon"></ion-icon>
          <ion-label floating>Name</ion-label>
          <ion-input [class.invalid]="(name.dirty || submitAttempt) && !name.valid" formControlName="name"></ion-input>
        </ion-item>
        <div no-lines *ngIf="(name.dirty || submitAttempt) && !name.valid" class="contactValidform">
          <span>Please enter a valid name.</span>
        </div>

        <ion-item class="regiterFiled">
          <ion-icon name="call" color="primary" item-left class="registerIcon"></ion-icon>
          <ion-label floating>Contact No.</ion-label>
          <ion-input class="placeholderColor" type="number" [class.invalid]="(contactNo.dirty || submitAttempt) && !contactNo.valid" formControlName="contactNo"></ion-input>
        </ion-item>
        <div no-lines *ngIf="(contactNo.dirty || submitAttempt) && !contactNo.valid" class="contactValidform">
          <span>Please enter a valid Contact No.</span>
        </div>


        <ion-item class="regiterFiled">
          <ion-icon name="lock" color="primary" item-left class="registerIcon"></ion-icon>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [class.invalid]="(password.dirty || submitAttempt) && !password.valid" formControlName="password"></ion-input>
        </ion-item>
        <div no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid" class="contactValidform">
          <span>Please enter a valid password.</span>
        </div>

        <ion-item class="regiterFiled">
          <ion-icon name="lock" color="primary" item-left class="registerIcon"></ion-icon>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input [class.invalid]="(confirmPassword.dirty || submitAttempt) && (!confirmPassword.valid || !isSameAsPassword())"
            formControlName="confirmPassword"></ion-input>
        </ion-item>
        <div no-lines *ngIf="(confirmPassword.dirty || submitAttempt) && !confirmPassword.valid" class="contactValidform">
          <span>Please enter a valid password.</span>
        </div>
        <div no-lines *ngIf="(confirmPassword.dirty || submitAttempt) && !isSameAsPassword()" class="contactValidform">
          <span>Passwords don't match</span>
        </div>


        <ion-item class="regiterFiled">
          <ion-icon name="mail" color="primary" item-left class="registerIcon"></ion-icon>
          <ion-label floating>Email</ion-label>
          <ion-input [class.invalid]="(email.dirty || submitAttempt) && !email.valid" formControlName="email"></ion-input>
        </ion-item>
        <div no-lines *ngIf="(email.dirty || submitAttempt) && !email.valid" class="contactValidform">
          <span>Please enter a valid email.</span>
        </div>




        <div *ngIf="addresses" formArrayName="addresses">
          <ion-card *ngFor="let address of addresses.controls;let i=index" class="addressform">
            <div (click)="removeAddress()" text-right padding>
              <ion-icon name="close" class="registerIcon"></ion-icon>
            </div>
            <div [formGroupName]="i">
              <ion-list>
                <ion-list-header padding-left:9px class="addressFiled addresBorder ">Address {{i+1}}</ion-list-header>
                <ion-item class="addressFiled">
                  <ion-label> Address Type</ion-label>
                  <ion-select interface="popover" formControlName="addressType" [class.invalid]="(typeControl(i).dirty || submitAttempt) && !typeControl(i).valid">
                    <ion-option *ngFor="let type of addressTypes" [disabled]="isAddressTypeAlreadySelected(type)" [value]="type">
                      {{type}}
                    </ion-option>
                  </ion-select>
                </ion-item>
                <ion-item no-lines *ngIf="(typeControl(i).dirty || submitAttempt) && !typeControl(i).valid" class="addressFiled">
                  <p>Please enter a valid type.</p>
                </ion-item>

                <ion-item class="addressFiled">
                  <ion-input placeholder="Address" [class.invalid]="(addressControl(i).dirty || submitAttempt) && !addressControl(i).valid"
                    formControlName="address"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="(addressControl(i).dirty || submitAttempt) && !addressControl(i).valid" class="addressFiled">
                  <p>Please enter a valid address.</p>
                </ion-item>

                <ion-item class="addressFiled">
                  <ion-input placeholder="City" formControlName="city" [class.invalid]="(cityControl(i).dirty || submitAttempt) && !cityControl(i).valid"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="(cityControl(i).dirty || submitAttempt) && !cityControl(i).valid" class="addressFiled">
                  <p>Please enter a valid city.</p>
                </ion-item>

                <ion-item class="addressFiled">
                  <ion-input placeholder="State" formControlName="state" [class.invalid]="(stateControl(i).dirty || submitAttempt) && !stateControl(i).valid"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="(stateControl(i).dirty || submitAttempt) && !stateControl(i).valid" class="addressFiled">
                  <p>Please enter a valid state.</p>
                </ion-item>

                <ion-item class="addressFiled">
                  <ion-input placeholder="Country" formControlName="country" [class.invalid]="(countryControl(i).dirty || submitAttempt) && !countryControl(i).valid"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="(countryControl(i).dirty || submitAttempt) && !countryControl(i).valid" class="addressFiled">
                  <p>Please enter a valid country.</p>
                </ion-item>

                <ion-item class="addressFiled">
                  <ion-input type="number" placeholder="Postal Code" formControlName="postalCode" [class.invalid]="(postalCodeControl(i).dirty || submitAttempt) && !postalCodeControl(i).valid"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="(postalCodeControl(i).dirty || submitAttempt) && !postalCodeControl(i).valid" class="addressFiled">
                  <p>Please enter a valid Postal code.</p>
                </ion-item>

                <ion-item class="addressFiled">
                  <ion-input type="tel" placeholder="Phone" formControlName="phone"></ion-input>
                </ion-item>
              </ion-list>
            </div>
          </ion-card>
        </div>

        <div text-right>
          <button *ngIf=" addresses.controls.length <= addressTypes.length-1" ion-button clear (click)="addAddress()" margin-right>Add {{addresses.controls.length==0?'Address':'Another Address'}}</button>
        </div>

        <button ion-button full (click)="onSubmit()" round class="submitBtn" small>Register</button>
      </form>
    </ion-list>
  </div>
</ion-content>