page-register {
  ion-content {
    background-image: url("../assets/imgs/loginImage.jpg");
    background-size: cover;
    .bakgroundContent {
      position: absolute; // overflow: scroll;
      width: 100%;
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.38);
    }
    ion-input{

  }
  }
}

ion-navbar {
  background-color: transparent;
}

.registerTitlle .toolbar-title {
  font-size: 1.5em;
  font-weight: 300;
  color: white;
}

.closeIcon {
  color: white;
  font-size: 2em;
}

.regiterFiled {
  padding-right: 33px;
  background: transparent;
  color: white;
  font-weight: 200;
  margin-bottom: 10px;
}

.submitBtn {
  padding: 17px;
  font-size: 18px;
  background-color: color($colors, transparent);
  border: 2px solid color($colors, light); // border-radius: 20px;
  width: 92%;
  margin: auto;
  letter-spacing: 2px;
  color: color($colors, light);
}

.contactValidform {
  text-align: center;
  color: gray;
  margin: auto;
}

.addressFiled {
  color: white;
  background:transparent;
}

.list-header-md {
  border-top: none !important;
}

.registerIcon {
  color: white;
}

.addressform {
  border: 2px solid #ffffff78;
  background:rgba(0, 0, 0, 0.73);
}





// .label-md[stacked],
// .label-md[floating] {
//   color: white;
// }

.addresBorder {
  text-align: right;
  border-bottom: 2px solid white;
}
.placeholderColor::placeholder {
  color: white !important;
   font-weight: 200;
 }