<ion-header>

  <ion-navbar color="primary">
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span>Cancel</span>
        </button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <form [formGroup]="registerForm" novalidate>

      <ion-item>
        <ion-icon name="person" color="primary" item-left></ion-icon>
        <ion-label floating>Name</ion-label>
        <ion-input [class.invalid]="(name.dirty || submitAttempt) && !name.valid" formControlName="name"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(name.dirty || submitAttempt) && !name.valid">
        <p>Please enter a valid name.</p>
      </ion-item>

      <ion-item>
        <ion-icon name="call" color="primary" item-left></ion-icon>
        <ion-label floating>Contact No.</ion-label>
        <ion-input [class.invalid]="(contact.dirty || submitAttempt) && !contact.valid" formControlName="contact"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(contact.dirty || submitAttempt) && !contact.valid">
        <p>Please enter a valid Contact No.</p>
      </ion-item>


      <ion-item>
        <ion-icon name="lock" color="primary" item-left></ion-icon>
        <ion-label floating>Password</ion-label>
        <ion-input [class.invalid]="(password.dirty || submitAttempt) && !password.valid" formControlName="password"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid">
        <p>Please enter a valid password.</p>
      </ion-item>

      <ion-item>
        <ion-icon name="lock" color="primary" item-left></ion-icon>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input [class.invalid]="(confirmPassword.dirty || submitAttempt) && (!confirmPassword.valid || !isSameAsPassword())"
          formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(confirmPassword.dirty || submitAttempt) && !confirmPassword.valid">
        <p>Please enter a valid password.</p>
      </ion-item>
      <ion-item no-lines *ngIf="(confirmPassword.dirty || submitAttempt) && !isSameAsPassword()">
        <p>Passwords don't match</p>
      </ion-item>


      <ion-item>
        <ion-icon name="mail" color="primary" item-left></ion-icon>
        <ion-label floating>Email</ion-label>
        <ion-input [class.invalid]="(email.dirty || submitAttempt) && !email.valid" formControlName="email"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(email.dirty || submitAttempt) && !email.valid">
        <p>Please enter a valid email.</p>
      </ion-item>

      
      
      <button *ngIf=" addresses.controls.length<=2" ion-button clear right (click)="addAddress()">Add {{addresses.controls.length==0?'Address':'Another Address'}}</button>
      
      <div *ngIf="addresses" formArrayName="addresses">
        <ion-card *ngFor="let address of addresses.controls;let i=index">
          <button ion-button clear right icon-only (click)="removeAddress()">
            <ion-icon name="close"></ion-icon>
          </button>
          <div [formGroupName]="i">
            <ion-item>
              <ion-label>Address Type</ion-label>
              <ion-select interface="popover" formControlName="type">
                <ion-option *ngFor="let type of addressTypes" [disabled]="isAddressTypeAlreadySelected(type)" [value]="type">
                  {{type}}
                </ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-card>
      </div>

      <button ion-button full (click)="onSubmit()">Register</button>
    </form>
  </ion-list>

</ion-content>