page-register {
  ion-content {
    background-image: url("../assets/imgs/loginImage.jpg");
    background-size: cover;
    .bakgroundContent {
      position: absolute;
      width: 100%;
      height: fit-content;
    }
    ion-item {
      ion-input {
        border-bottom: 1px solid $borderColor;
      }
    }
    ion-item:last-child {
      border-bottom: 0 !important;
    }
    .margin-top {
      margin-top: -10px;
    }
  }
  ion-navbar {
    background-color: transparent;
  }
  
  .registerTitlle .toolbar-title {
    font-size: 1.5em;
    color: white;
  }
  
  .closeIcon {
    color: white;
    font-size: 2em;
  }
  
  .regiterFiled {
    padding-right: 33px;
    background: transparent;
    margin-bottom: 10px;
  }
  
  .submitBtn {
    padding: 17px;
    font-size: 18px;
    background-color: color($colors, transparent);
    border: 2px solid color($colors, light);
    width: 92%;
    margin: auto;
    letter-spacing: 2px;
    color: color($colors, light);
  }
  
  .contactValidform {
    text-align: center;
    color: gray;
    margin: auto;
  }
  
  .addressFiled {
    background: transparent;
  }
  
  .list-header-md {
    border-top: none !important;
  }
  
  .addressform {
    border: 2px solid #ffffff78; // background:rgba(0, 0, 0, 0.73);
  }
  
  .addresBorder {
    text-align: right;
  }
}


