<ion-header>

  <ion-navbar color="primary">
    <ion-title>Installation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background-color">
  <div *ngIf="installation">
    <ion-card class="product-card">
      <img [src]="installation.registeredProductPicUrl" class="productImage">
      <ion-card-content class="product-details">
        <ion-card-title class="brand">
          <h4>
            <b>{{installation.productModelNumber}}</b>
          </h4>
          <p>
            {{installation.productName}}
            <p>
              <p>
                <b> Purchase Date :</b> {{installation.productPurchaseDate | date:'mediumDate'}}
              </p>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <div [ngSwitch]="installation.statusId">
      <ion-card *ngSwitchCase="11">
        <div class="centerIcon">
          <ion-icon name="hammer" color="primary" class="iconSize"></ion-icon>
          <div>
            <b>Installed On </b>
          </div>
        </div>
        <div text-center margin-bottom>{{installation.productInstallationDateTime | date}}</div>
      </ion-card>

    </div>

    <ion-card class="warrantyCard">
      <div class="centerIcon">
        <ion-icon name="time" color="primary" class="iconSize"></ion-icon>
        <div>
          <b>Important Dates</b>
        </div>
      </div>
      <ion-grid class="gridrow">
        <ion-row>
          <p col-4 class="border-right">
            <b>Installation</b>
            <br>
            <span *ngIf="installation.productInstallationDateTime"> {{installation.productInstallationDateTime | date:'mediumDate'}}</span>
            <span *ngIf="!installation.productInstallationDateTime"> Not Installed</span>
          </p>

          <p col-4 class="border-right">
            <b>Status</b>
            <br> {{installation.statusName}}
          </p>
          <p col-4>
            <b> Priority </b>
            <br> {{installation.priority}}
          </p>
        </ion-row>
      </ion-grid>
      <ion-grid class="warantyRow">
        <ion-row>
          <p col-6 class="border-right">
            <b>Waranty Start</b>
            <br> {{installation.productWarrantyStart}}
          </p>
          <p col-6>
            <b>Waranty End</b>
            <br> {{installation.productWarrantyEnd}}
          </p>
        </ion-row>
      </ion-grid>
    </ion-card>



    <div [ngSwitch]="installation.statusId">
      <!-- NEW -->
      <div *ngSwitchCase="1">
        <div class="notePrimary">
          Your request for installation has been received. Same will be assigned to a service engineer soon
        </div>
      </div>

      <!--  ASSIGNED SERVICE ENGINNER -->
      <div *ngSwitchCase="10">
        <ion-card>
          <ion-list-header> Engineer Details </ion-list-header>
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="installation.assignedServiceEngineerPicUrl || 'assets/imgs/default_pic.png'">
            </ion-thumbnail>
            <h4>{{installation.assignedServiceEngineerName}}</h4>
          </ion-item>
        </ion-card>
      </div>

      <!-- SCHEDULED -->
      <ion-card *ngSwitchCase="4">
        <ion-item>
          <ion-icon item-start name="time" color="primary"></ion-icon>
          <ion-label>Scheduled : </ion-label>
          <p item-end>{{installation.lastScheduleDate | date:'short'}}</p>
        </ion-item>
        <ion-list-header> Engineer Details </ion-list-header>
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="installation.assignedServiceEngineerPicUrl || 'assets/imgs/default_pic.png'">
          </ion-thumbnail>
          <h4>{{installation.assignedServiceEngineerName}}</h4>
        </ion-item>

        <div>
          <button ion-button small clear (click)="onHistory()">History</button>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button small (click)="onNotAvailableBtn()" round>Reschedule</button>
            </ion-col>
            <ion-col col-6>
              <button ion-button small (click)="onChangePriority()" round>Increase Priority </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

      <!-- INSTALLED -->
      <div *ngSwitchCase="11">
        <ion-card class="cusomerDetails">
          <div class="customerpic">
            <ion-icon name="md-contact" color="primary" *ngIf="!assignedServiceEngineerPicUrl"></ion-icon>
            <img *ngIf="assignedServiceEngineerPicUrl" [src]="installation.assignedServiceEngineerPicUrl" />
            <div color="primary" class="customerName">
              <b>Engineer Details</b>
            </div>
          </div>
          <ion-item>
            <ion-icon item-start name="person" color="primary"></ion-icon>
            <small class="primaryColor">Name </small>
            <div>{{installation.assignedServiceEngineerName}}</div>
          </ion-item>

          <ion-item *ngIf="installation.assignedServiceEngineerContactNo">
            <ion-icon item-start name="call" color="primary"> </ion-icon>
            <small class="primaryColor">Phone</small>
            <div>{{installation.assignedServiceEngineerContactNo}}</div>
          </ion-item>
          <ion-item *ngIf="installation.assignedServiceEngineerEmail">
            <ion-icon item-start name="md-mail" color="primary"></ion-icon>
            <small class="primaryColor">Email</small>
            <div>{{installation.assignedServiceEngineerEmail}}</div>
          </ion-item>
        </ion-card>
        <div padding>
          <button ion-button round (click)="onHistory()" class="history">History</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
