page-product-detail,
page-installation,
page-incident {
  .warrantyCard {
    .border-right {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        height: 50px;
        border-right: 1px solid $borderColor;
        right: 0;
        top: 50%;
        transform: translatey(-50%);
      }
    }
    .gridrow {
      ion-row {
        padding-bottom: 13px;
        text-align: center;
        position: relative;
        &:before {
          position: absolute;
          content: '';
          width: 50%;
          border-bottom: 1px solid $borderColor;
          bottom: 0;
          left: 50%;
          transform: translatex(-50%);
        }
      }
    }
    .warantyRow {
      ion-row {
        text-align: center;
      }
    }
  }
  .dealerDetails {
    .dealerName {
      color: color($colors, primary);
    }
    ion-item {
      .item-inner {
        border-bottom: 1px solid $borderColor !important;
      }
    }
    .billDetails {
      padding-top: 10px;
      text-align: center;
    }
  }
  .cusomerDetails {
    .customerpic {
      text-align: center;
      font-size: 3em;
    }
    .customerName {
      margin-top: -5px;
      font-size: 14px !important;
      color: color($colors, primary)
    }
    ion-item {
      .item-inner {
        border-bottom: 1px solid $borderColor !important;
      }
    }
    img {
      height: 100px;
      width: auto;
      margin: 10px auto;
    }
    .billDetails {
      color: color($colors, primary)
    }
  }
}
