<ion-header>
  <ion-navbar color="primary">
    <ion-title>Product Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-color">
  <div *ngIf="product">
    <ion-card class="product-card">
      <img [src]="product.productPicUrl" class="productImage">
      <ion-card-content class="product-details">
        <ion-card-title class="brand">
          <h4>
            <b>{{product.productBrand}}</b>
            <span> {{product.productModelNumber}} </span>
          </h4>
          <p>
            {{product.productName}}
            <p>
              <p>
                <b> Product type</b>:{{product.productType}}
              </p>
              <p>
                <b>Barcode</b>:{{product.productBarcode}}
              </p>

        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card class="warrantyCard">
      <div class="centerIcon ">
        <ion-icon name="time" color="primary" class="iconSize"></ion-icon>
      </div>
      <ion-grid class="gridrow">
        <ion-row>
          <p col-4 class="border-right">
            <b> Purchase</b>
            <br> {{product.purchaseDate | date:'mediumDate'}}
          </p>

          <p col-4 class="border-right">
            <b>Registered</b>
            <br> {{product.registeredAt | date:'mediumDate'}}
          </p>
          <p col-4>
            <b> Installation </b>
            <br>
            <span *ngIf="product.installationDateTime"> {{product.installationDateTime | date:'mediumDate'}}</span>
            <span *ngIf="!product.installationDateTime"> Not Installed</span>
          </p>
        </ion-row>
      </ion-grid>
      <ion-grid class="warantyRow">
        <ion-row>
          <p col-6 class="border-right">
            <b>WarantyStart</b>
            <br> {{product.warrentyPeriodStart}}
          </p>
          <p col-6>
            <b>WarantyEnd</b>
            <br> {{product.warrantyPeriodEnd}}
          </p>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="dealerDetails">
      <div class=" centerIcon">
        <ion-icon color="primary" name="md-contacts" class="iconSize"></ion-icon>
        <br>
        <span class="dealerName">Dealer</span>
      </div>
      <ion-item>
        <ion-icon item-start name="person" color="primary"></ion-icon>
        <ion-label>Name </ion-label>
        <p item-end>{{product.dealerName}}</p>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="call" color="primary"></ion-icon>
        <ion-label>Phone </ion-label>
        <p item-end>{{product.dealerContact}}</p>
      </ion-item>
      <div *ngIf="product.billPicUrl">
        <h4 class="billDetails">Bill</h4>
        <img [src]="product.billPicUrl">
      </div>
    </ion-card>
  </div>
  <div *ngIf="product">

    <ion-card class="cusomerDetails">

      <div class="customerpic">
        <ion-icon name="md-contact" color="primary" *ngIf="!customerPicUrl"></ion-icon>
        <img *ngIf="customerPicUrl" [src]="product.customerPicUrl" />
        <div color="primary" class="customerName">Customer</div>
      </div>
      <ion-item>
        <ion-icon item-start name="person" color="primary"></ion-icon>
        <small class="primaryColor">Name </small>
        <div>{{product.customerName}}</div>
      </ion-item>

      <ion-item>
        <ion-icon item-start name="call" color="primary"> </ion-icon>
        <small class="primaryColor">Phone</small>
        <div>{{product.customerContactNo}}</div>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="md-mail" color="primary"></ion-icon>
        <small class="primaryColor">Email</small>
        <div>{{product.customerEmail}}</div>
      </ion-item>
    </ion-card>
  </div>
  <div padding>
    <button ion-button block (click)="openReportIncidentPage()">Report Incident</button>
  </div>
</ion-content>
