<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Installations</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

   <ion-grid>
    <ion-row>
      <ion-col text-center class="prductDetails" col-6 *ngFor="let p of installations;let i=index" (click)="openInstallationDetailPage(i)">
        <img [src]="p.registeredProductPicUrl" width="50%;" />
        <h6 no-margin>{{p.productModelNumber}}</h6>
        <p no-margin>{{p.productName}}</p>
         <ion-badge *ngIf="p.productInstallationDateTime">I</ion-badge>
        <ion-badge *ngIf="p.productInstallationDateTime">{{p.productInstallationDateTime | date:'mediumDate'}}</ion-badge>
        <ion-badge *ngIf="!p.productInstallationDateTime">Not Installed</ion-badge> 
      </ion-col>
    </ion-row>
  </ion-grid> 
 


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>