page-installations {
  .imageProduct {

    // display: grid;
    height: 100%;

    // place-content: center;
    img {
      // width: auto;
      // height: 151px;
      height: auto;
      width: 100px;
      top: 50%;
      transform: translateY(-50%);
      position: relative;

    }
  }

  .prductDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid rgba(128, 128, 128, 0.2);
    // border-bottom:  1px solid rgba(128, 128, 128, 0.2);

  }

  .prductDetails:nth-child(even) {
    border-left: 0px;
  }

}
