<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Installations</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

   <ion-grid>
    <ion-row>
      <ion-col text-center class="prductDetails activeItem" col-6 *ngFor="let p of installations;let i=index" (click)="openInstallationDetailPage(i)">
        <img [src]="p.registeredProductPicUrl"  />
        <h6 no-margin>{{p.productModelNumber}}</h6>
        <p no-margin>{{p.productName}}</p>
         <ion-badge *ngIf="p.statusId==11">I</ion-badge>
        <ion-badge *ngIf="p.statusId==11">{{p.productInstallationDateTime | date:'mediumDate'}}</ion-badge>
        <ion-badge *ngIf="p.statusId!=11">{{p.statusName}}</ion-badge> 
      </ion-col>
    </ion-row>
  </ion-grid> 
  
  <div class="emptyData" *ngIf="installations?.length==0">
    <!-- <h4>No Data Found</h4> -->
     <img src="/assets/imgs/notfound.png">
     <h2 color="gray">No Records Found</h2>
  </div>
 


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>