page-history {
  .history {
    text-align: center;
    background: color($colors, primary);
    margin-top: -15px;
    padding-bottom: 8px;
    .toolbar-title {
      color: color($colors, light) !important;
    }
    ion-title {
      margin-top: -35px;
    }
  }
  img {
    width: 50%;
    position: relative;
    top: -35px;
  }
  .discription {
    white-space: pre-line;
    color: black !important;
  }
  .date {
    color: gray !important;
    font-size: 14px;
  }
}
