page-add-incident {
  
    .reportImage {
      width:39%;
      margin: auto;
      margin-top: 10px;
    }
  
  .addImage {
    text-align: center;
    .cameraIcon {
      font-size: 3em;
    }
    div {
      color: color($colors, primary);
    }
  }
  .border-bottom {
    .item-inner {
      border-bottom: 1px solid $borderColor !important;
    }
  }
}
