<ion-header>

  <ion-navbar color="primary">
    <ion-title>Report Incident</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background-color">

  <form #incidentForm="ngForm" (ngSubmit)="onSubmit()">
    <div text-center>
      <img src="/assets/imgs/report.png" class="reportImage">
    </div>
    <ion-card>
      <!-- <img src="/assets/imgs/report.png" class="reportImage"> -->
      <ion-list>
        <ion-item>

          <ion-label>Product</ion-label>
          <ion-select [ngModel]="selectedProduct" [disabled]="product" (ionChange)="onProductSelect($event)" name="product" required>
            <ion-option *ngFor="let p of products" [value]="p">{{p.productName}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngFor="let catgs of categoriesList;let i=index">
          <ion-label>{{catgs.label}}</ion-label>
          <ion-select (ionChange)="onCatgSelect($event,i)" required ngModel name="catgs{{i}}">
            <ion-option *ngFor="let c of catgs.catgsData" [value]="c">{{c.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <!-- </ion-card>

    <ion-card> -->
      <ion-list>

        <!-- <ion-item class="border-bottom">
          <ion-label stacked>Title</ion-label>
          <ion-input [(ngModel)]="title" name="title" required placeholder="Enter Title"></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label stacked>Description</ion-label>
          <ion-textarea [(ngModel)]="description" name="description" required placeholder="Tell us about the incident"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>


    <div *ngIf="!img;else image" (click)="onImgUpload()" class="addImage">
      <ion-icon name="camera" class="cameraIcon" color="primary"></ion-icon>
      <div>Add Image</div>
    </div>

    <ion-spinner name="bubbles" class="center-block" color="primary" *ngIf="showSpinner"></ion-spinner>

    <ng-template #image>
      <ion-card>
        <img [src]="img">
        <button type="button" ion-button full (click)="onRemoveImage()" icon start>
          <ion-icon name="md-trash"></ion-icon>Remove Image</button>
      </ion-card>
    </ng-template>

    <ion-card>
      <div *ngIf="addresses.length">
        <ion-list radio-group [(ngModel)]="selectedAddress" name="address" required>
          <!-- <ion-list-header>Select Address</ion-list-header> -->
          <div class="centerIcon ">
            <ion-icon name="home" class="iconSize"></ion-icon>
            <div>
              <b>Select Address</b>
            </div>
          </div>
          <ion-row *ngFor="let addr of addresses" (tap)="selectedAddress=addr">
            <ion-col col-10 text-wrap padding>
              <h5 style="font-weight: bold">{{addr.addressType}}</h5>
              <p>{{addr.address}}, {{addr.postalCode}}</p>
              <p>{{addr.city}}, {{addr.state}}, {{addr.country}}</p>
              <div *ngIf="addr.phone">
                <ion-icon name="call" float-left></ion-icon>
                {{addr.phone}}
              </div>
            </ion-col>
            <ion-col col-2>
              <ion-radio style="top:50%;left: 50%;transform: translate(-50%,-50%)" [value]="addr"></ion-radio>
            </ion-col>
          </ion-row>
          <!-- <ion-item>
            <ion-label>Cord</ion-label>
            <ion-radio value="cord"></ion-radio>
          </ion-item> -->
        </ion-list>

      </div>

      <div *ngIf="!addresses.length">

        <div>
          <ion-list>
            <ion-list-header>Address (Fill all fields)</ion-list-header>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select interface="popover" [(ngModel)]="selectedAddress.addressType" name="addressType" required>
                <ion-option *ngFor="let type of addressTypes" [value]="type">
                  {{type}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Address" [(ngModel)]="selectedAddress.address" name="address" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="City" [(ngModel)]="selectedAddress.city" name="city" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="State" [(ngModel)]="selectedAddress.state" name="state" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Country" [(ngModel)]="selectedAddress.country" name="country" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="Postal Code" [(ngModel)]="selectedAddress.postalCode" name="postalCode" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="tel" placeholder="Phone" [(ngModel)]="selectedAddress.phone" name="phone"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </div>

    </ion-card>

    <div padding>
      <button ion-button full round [disabled]="incidentForm.invalid">Submit</button>
    </div>

  </form>
</ion-content>
