page-incident {
  ion-row {
    text-align: center;
  }
  .historyfeedback {
    color: white;
    padding: 2px;
    .history {
      border-right: 1px solid white;
    }
  }
  .fixed {
    text-align: center;
    .fixcolor {
      color: color($colors, secondary);
    }
    .fixDate {
      margin-top: 4px;
    }
  }
  .history {
    width: 100%;
  }
  .notFixed {
    color: color($colors, danger) !important;
  }
  .discription {
    white-space: pre-line;
  }
}
