<ion-header>
  <ion-navbar color="primary">
    <ion-title>Incident Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background-color">
  <div *ngIf="incident">
    <ion-card class="product-card">
      <img [src]="incident.registeredProductPicUrl" class="productImage">
      <ion-card-content class="product-details">
        <div class="brand">
          <h4>
            <b>{{incident.productModelNumber}}</b>

          </h4>
          <p>
            {{incident.productName}}
            <p>
              <p>
                <b> Purchase Date : </b>{{incident.productPurchaseDate | date:'mediumDate'}}
              </p>
        </div>
      </ion-card-content>
      <div [ngSwitch]="incident.statusId">
        <div *ngSwitchCase="4" padding-left padding-right padding-bottom>
          <button ion-button small full (click)="onChangePriority()" round [style.background]="incident.statusColor">
            Escalate </button>
        </div>
      </div>
    </ion-card>
    <div [ngSwitch]="incident.statusId" class="fixed">
      <ion-card *ngSwitchCase="7">
        <div class="centerIcon">
          <ion-icon name="checkmark-circle" class="iconSize" [style.color]="incident.statusColor"></ion-icon>
          <div class="fixcolor" [style.color]="incident.statusColor">Fixed On</div>
        </div>

        <div margin-bottom class="fix">{{incident.lastModifiedAt | date}}</div>
      </ion-card>
      <ion-card *ngSwitchCase="6">
        <div class="centerIcon">
          <ion-icon name="alert" class="iconSize" color="danger"></ion-icon>
          <div class="notFixed">Not Fixed</div>
        </div>
        <div margin>{{incident.lastModifiedAt | date}}</div>
      </ion-card>
      <ion-card *ngSwitchCase="4">
        <div class="centerIcon">
          <ion-icon name="alarm" [style.color]="incident.statusColor" class="iconSize"></ion-icon>
          <div [style.color]="incident.statusColor">Scheduled</div>
        </div>
        <div>{{incident.lastScheduleDate | date:'short'}}</div>
      </ion-card>
    </div>

    <ion-card class="warrantyCard">
      <div class="centerIcon">
        <ion-icon name="time" [style.color]="incident.statusColor" class="iconSize"></ion-icon>
        <div>
          <b [style.color]="incident.statusColor">Important Dates</b>
        </div>
      </div>
      <ion-grid class="">
        <ion-row>
          <p col-6 class="border-right">
            <b> Warranty Start</b>
            <br>
            <span *ngIf="incident.productWarrantyStart">{{incident.productWarrantyStart | date:'mediumDate'}}</span>
            <span *ngIf="!incident.productWarrantyStart">NA</span>
          </p>

          <p col-6 class="">
            <b>Warranty End</b>
            <br>
            <span *ngIf="incident.productWarrantyEnd"> {{incident.productWarrantyEnd | date:'mediumDate'}}</span>
            <span *ngIf="!incident.productWarrantyEnd">NA</span>
          </p>

        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <div class="centerIcon">
        <ion-icon name="md-list-box" [style.color]="incident.statusColor" class="iconSize"></ion-icon>
        <div>
          <b [style.color]="incident.statusColor">Incident Details</b>
        </div>
      </div>

      <!-- <ion-item>
        <small [style.color]="incident.statusColor">Title</small>
        <p>{{incident.title}}</p>
      </ion-item> -->
      <ion-item>
        <small [style.color]="incident.statusColor">Description</small>
        <p class="discription">{{incident.description}}</p>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="checkmark-circle" [style.color]="incident.statusColor"></ion-icon>
        <small item-start>Status </small>
        <p item-end>{{incident.statusName}}</p>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="information-circle" [style.color]="incident.statusColor"></ion-icon>
        <small item-start>Priority </small>
        <p item-end>{{incident.priority}}</p>
      </ion-item>
    </ion-card>



    <div [ngSwitch]="incident.statusId">

      <div *ngSwitchCase="1"></div>

      <!--  ASSIGNED SERVICE ENGINNER -->
      <div *ngSwitchCase="2">
        <ion-card class="cusomerDetails">

          <div class="customerpic">
            <ion-icon name="md-contact" [style.color]="incident.statusColor" *ngIf="!customerPicUrl"></ion-icon>
            <img *ngIf="assignedServiceEngineerPicUrl" [src]="incident.assignedServiceEngineerPicUrl" />
            <div [style.color]="incident.statusColor" class="customerName">
              <b>Engineer Details</b>
            </div>
          </div>
          <ion-item>
            <ion-icon item-start name="person" color="primary"></ion-icon>
            <small [style.color]="incident.statusColor">Name </small>
            <div>{{incident.assignedServiceEngineerName}}</div>
          </ion-item>

          <ion-item *ngIf="assignedServiceEngineerContactNo">
            <ion-icon item-start name="call" [style.color]="incident.statusColor"> </ion-icon>
            <small [style.color]="incident.statusColor">Phone</small>
            <div>{{incident.assignedServiceEngineerContactNo}}</div>
          </ion-item>
          <ion-item *ngIf="assignedServiceEngineerContactNo">
            <ion-icon item-start name="md-mail" [style.color]="incident.statusColor"></ion-icon>
            <small [style.color]="incident.statusColor">Email</small>
            <div>{{incident.assignedServiceEngineerEmail}}</div>
          </ion-item>
        </ion-card>
      </div>

      <!-- SCHEDULED -->


      <ion-card class="cusomerDetails" *ngSwitchCase="4">

        <div class="customerpic">
          <ion-icon name="md-contact" [style.color]="incident.statusColor" *ngIf="!customerPicUrl"></ion-icon>
          <img *ngIf="assignedServiceEngineerPicUrl" [src]="incident.assignedServiceEngineerPicUrl" />
          <div [style.color]="incident.statusColor" class="customerName">
            <b>Engineer Details</b>
          </div>
        </div>
        <ion-item>
          <ion-icon item-start name="person" [style.color]="incident.statusColor"></ion-icon>
          <small [style.color]="incident.statusColor">Name </small>
          <div>{{incident.assignedServiceEngineerName}}</div>
        </ion-item>

        <ion-item *ngIf="assignedServiceEngineerContactNo">
          <ion-icon item-start name="call" [style.color]="incident.statusColor"> </ion-icon>
          <small [style.color]="incident.statusColor">Phone</small>
          <div>{{assignedServiceEngineerContactNo}}</div>
        </ion-item>
        <ion-item *ngIf="assignedServiceEngineerContactNo">
          <ion-icon item-start name="md-mail" [style.color]="incident.statusColor"></ion-icon>
          <small [style.color]="incident.statusColor">Email</small>
          <div>{{assignedServiceEngineerEmail}}</div>
        </ion-item>
      </ion-card>

      <!-- FIXED -->

      <div *ngSwitchCase="7">
        <ion-card class="cusomerDetails">
          <div class="customerpic">
            <ion-icon name="md-contact" [style.color]="incident.statusColor" *ngIf="!customerPicUrl"></ion-icon>
            <img *ngIf="assignedServiceEngineerPicUrl" [src]="incident.assignedServiceEngineerPicUrl" />
            <div [style.color]="incident.statusColor" class="customerName">
              <b>Engineer Details</b>
            </div>
          </div>
          <ion-item>
            <ion-icon item-start name="person" [style.color]="incident.statusColor"></ion-icon>
            <small [style.color]="incident.statusColor">Name </small>
            <div>{{incident.assignedServiceEngineerName}}</div>
          </ion-item>

          <ion-item *ngIf="assignedServiceEngineerContactNo">
            <ion-icon item-start name="call" [style.color]="incident.statusColor"> </ion-icon>
            <small [style.color]="incident.statusColor">Phone</small>
            <div>{{assignedServiceEngineerContactNo}}</div>
          </ion-item>
          <ion-item *ngIf="assignedServiceEngineerContactNo">
            <ion-icon item-start name="md-mail" [style.color]="incident.statusColor"></ion-icon>
            <small [style.color]="incident.statusColor">Email</small>
            <div>{{assignedServiceEngineerEmail}}</div>
          </ion-item>
        </ion-card>
      </div>

      <!-- NOT FIXED -->
      <div *ngSwitchCase="6">

        <ion-card class="cusomerDetails">
          <div class="customerpic">
            <ion-icon name="md-contact" [style.color]="incident.statusColor" *ngIf="!customerPicUrl"></ion-icon>
            <img *ngIf="assignedServiceEngineerPicUrl" [src]="incident.assignedServiceEngineerPicUrl" />
            <div [style.color]="incident.statusColor" class="customerName">
              <b>Engineer Details</b>
            </div>
          </div>
          <ion-item>
            <ion-icon item-start name="person" [style.color]="incident.statusColor"></ion-icon>
            <small [style.color]="incident.statusColor">Name </small>
            <div>{{incident.assignedServiceEngineerName}}</div>
          </ion-item>

          <ion-item *ngIf="assignedServiceEngineerContactNo">
            <ion-icon item-start name="call" [style.color]="incident.statusColor"> </ion-icon>
            <small [style.color]="incident.statusColor">Phone</small>
            <div>{{assignedServiceEngineerContactNo}}</div>
          </ion-item>
          <ion-item *ngIf="assignedServiceEngineerContactNo">
            <ion-icon item-start name="md-mail" [style.color]="incident.statusColor"></ion-icon>
            <small [style.color]="incident.statusColor">Email</small>
            <div>{{assignedServiceEngineerEmail}}</div>
          </ion-item>
        </ion-card>
        <div padding>
          <button ion-button round (click)="onHistory()" class="history" [style.background]="incident.statusColor">History</button>
        </div>

      </div>

      <div *ngSwitchCase="9">

        <div class="notePrimary">
          Your complaint has been put on hold after recieving your unavailablity message. Will be rescheduled soon
        </div>
        <div padding>
          <button ion-button round (click)="onHistory()" class="history" [style.background]="incident.statusColor">History</button>
        </div>

      </div>
    </div>

    <ion-card *ngIf="incident.complaintPicUrl">
      <div class="centerIcon">
        <ion-icon name="md-image" class="iconSize" [style.color]="incident.statusColor"></ion-icon>
        <div>
          <b [style.color]="incident.statusColor">Incident's Image</b>
        </div>
      </div>
      <img *ngIf="incident.complaintPicUrl" [src]="incident.complaintPicUrl">
    </ion-card>
    <div [ngSwitch]="incident.statusId">
      <div class="historyfeedback" *ngSwitchCase="4" [style.background]="incident.statusColor">

        <ion-grid>
          <ion-row>

            <ion-col class="history">
              <div (click)="onHistory()">History</div>
            </ion-col>
            <ion-col>
              <div (click)="onNotAvailableBtn()">Reschedule</div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
      <div class="historyfeedback" *ngSwitchCase="7" [style.background]="incident.statusColor">

        <ion-grid>
          <ion-row>

            <ion-col class="history">
              <div (click)="onHistory()">History</div>
            </ion-col>
            <ion-col>
              <div (click)="onFeedback()" *ngIf="!incident.rating">Feedback</div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>
