<ion-header>
  <ion-navbar color="primary">
    <ion-title>Incident</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div *ngIf="incident">

    <ion-item no-lines class="shadow">
      <img item-start style="height: 70px;width: 70px" [src]="incident.registeredProductPicUrl">
      <h3>
        <b>Name: </b>{{incident.productBrand}} {{incident.productName}}</h3>
      <h3>
        <b>Model: </b>{{incident.productModelNumber}}</h3>
      <h3>
        <b>Purchase Date: </b>{{incident.productPurchaseDate | date:'mediumDate'}}</h3>
    </ion-item>

    <ion-card>
      <ion-item text-wrap>
        <ion-icon item-start name="checkmark-circle" color="primary"></ion-icon>
        <ion-label>Warranty : </ion-label>
        <p *ngIf="incident.productWarrantyStart && incident.productWarrantyEnd" item-end>{{incident.productWarrantyStart +' - '+ incident.productWarrantyEnd}}</p>
        <p *ngIf="!(incident.productWarrantyStart && incident.productWarrantyEnd)" item-end>NA</p>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>Incident</ion-card-header>
      <ion-item text-wrap>
        <small>Title</small>
        <p>{{incident.title}}</p>
      </ion-item>
      <ion-item text-wrap>
        <small>Description</small>
        <p>{{incident.description}}</p>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="checkmark-circle" color="primary"></ion-icon>
        <ion-label>Status : </ion-label>
        <b item-end>{{incident.statusName}}</b>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="information-circle" color="primary"></ion-icon>
        <ion-label>Priority : </ion-label>
        <b item-end>{{incident.priority}}</b>
      </ion-item>
    </ion-card>



    <div [ngSwitch]="incident.statusName">

      <div *ngSwitchCase="'New'"></div>


      <div *ngSwitchCase="'Assigned Service Engineer'">
        <ion-card>
          <ion-list-header> Engineer Details </ion-list-header>
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="incident.assignedServiceEngineerPicUrl">
            </ion-thumbnail>
            <h4>{{incident.assignedServiceEngineerName}}</h4>
          </ion-item>
        </ion-card>
      </div>

      <ion-card *ngSwitchCase="'Schedule'">
        <ion-item>
          <ion-icon item-start name="time" color="primary"></ion-icon>
          <ion-label>Scheduled : </ion-label>
          <p item-end>{{incident.lastScheduleDate | date:'short'}}</p>
        </ion-item>
        <ion-list-header> Engineer Details </ion-list-header>
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="incident.assignedServiceEngineerPicUrl">
          </ion-thumbnail>
          <h4>{{incident.assignedServiceEngineerName}}</h4>
          <!-- <p><ion-icon item-start name="call" color="primary"></ion-icon>1234567890</p> -->
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button small (click)="onChangeTimeBtn()" round>Change Time </button>
            </ion-col>
            <ion-col col-6>
              <button ion-button small (click)="onChangePriority()" round>Increase Priority </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>


      <div *ngSwitchCase="'Fixed'">
        <ion-item>
          <ion-icon item-start name="hammer" color="primary"></ion-icon>
          <ion-label>Fixed : </ion-label>
          <p item-end>{{incident.lastModifiedAt | date}}</p>
        </ion-item>
        <ion-card>
          <ion-list-header> Engineer Details </ion-list-header>
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="incident.assignedServiceEngineerPicUrl">
            </ion-thumbnail>
            <h4>{{incident.assignedServiceEngineerName}}</h4>
          </ion-item>
          <div text-center *ngIf="!incident.rating">
            <button ion-button small round (click)="onFeedback()">Feedback</button>
          </div>
        </ion-card>
      </div>

      <div *ngSwitchCase="'Not Fixed'">   
        <ion-item>
          <ion-icon item-start name="hammer" color="primary"></ion-icon>
          <ion-label>Not Fixed : </ion-label>
          <p item-end>{{incident.lastModifiedAt | date}}</p>
        </ion-item>
        <ion-card>
          <ion-list-header> Engineer Details </ion-list-header>
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="incident.assignedServiceEngineerPicUrl">
            </ion-thumbnail>
            <h4>{{incident.assignedServiceEngineerName}}</h4>
          </ion-item>
          <div text-center *ngIf="!incident.rating">
            <button ion-button small round (click)="onFeedback()">Feedback</button>
          </div>
        </ion-card>
      </div>
    </div>

    <ion-list-header *ngIf="incident.complaintPicUrl">Incident's Image</ion-list-header>
    <img *ngIf="incident.complaintPicUrl" [src]="incident.complaintPicUrl">

  </div>

</ion-content>