
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
          Register Product
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text  showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content class="background-color">

  <!-- SCAN BARCODE OR FILL FORM TO FETCH THE PRODUCT DETAILS  -->

  <ion-item no-lines>
    <ion-label>Registration mode
      <span class="star">*</span>
    </ion-label>
    <ion-select [(ngModel)]="productDetailMethod" (ionChange)="onProductDetailMethodChange()">
      <ion-option value="barcode">Using Barcode</ion-option>
      <ion-option value="manual">Enter Manually</ion-option>
    </ion-select>
  </ion-item>

  <div *ngIf="productDetailMethod=='barcode'" class="barcodeScanner">
    <div text-center padding>
      <img src="/assets/imgs/barcode.png" class="status-image center-block" />
      <button ion-button round (click)="openScanner()">
        Scan Code
      </button>
    </div>
  </div>

  <div *ngIf="productDetailMethod=='manual'">

    <ion-card class="product-card" *ngIf="selectedProduct">
      <img [src]="selectedProduct.picUrl" class="productImage">
      <ion-card-content class="product-details">
        <ion-card-title class="brand">
          <h4>
            <b>{{selectedProduct.brandName}}</b>
            <span> {{selectedProduct.modelNumber}} </span>
          </h4>

          <p>
            <b>Category</b>{{selectedProduct.categoryName}}
          </p>
          <p>
            <b>Name</b>{{selectedProduct.name}}
          </p>
          <p>
            <b>Type</b>{{selectedProduct.typeName}}
          </p>
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-select [(ngModel)]="selectedBrandId">
          <ion-option *ngFor="let b of brands" [value]="b.id">{{b.name}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item *ngFor="let catgs of categoriesList;let i=index">
        <ion-label>{{catgs.label}}</ion-label>
        <ion-select (ionChange)="onCatgSelect($event,i)">
          <ion-option *ngFor="let c of catgs.catgsData" [value]="c">{{c.name}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item *ngIf="productTypes">
        <ion-label>Product Type</ion-label>
        <ion-select (ionChange)="onProductTypeSelect($event)">
          <ion-option *ngFor="let pt of productTypes" [value]="pt">{{pt.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
  </div>


  <ion-card>
    <ion-list no-lines>
      <div class="addproduct">
        <ion-icon name="cube" class="icon" color="primary"></ion-icon>
        <div>Product</div>
      </div>
      <div class="purchaseDetail">
        <ion-item>
          <ion-label>Purchase Date
            <span class="star">*</span>
          </ion-label>
          <ion-datetime [(ngModel)]="purchaseDate" [max]="today" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" placeholder="MMM DD, YYYY"></ion-datetime>
        </ion-item>
        <ion-item class="warranty">
          <ion-label>Warranty</ion-label>
          <ion-input class="warrantyDetails" type="number" placeholder="Add warranty" text-right [(ngModel)]="warrantyPeriod"></ion-input>
          <ion-select interface="popover" placeholder='M/Y' [(ngModel)]="warrantyDurationType">
            <ion-option *ngFor="let type of warrantyDurationTypes" [value]="type">{{type}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>

  <ion-card class="dealer">
    <ion-list>
      <div class="addproduct ">
        <ion-icon name="contact" class="icon" color="primary"></ion-icon>
        <div color="primary">Dealer</div>
      </div>
      <ion-item>
        <ion-icon item-start name="md-person" color="primary"></ion-icon>
        <ion-label floating>Dealer Name</ion-label>
        <ion-input [(ngModel)]="dealerName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="md-call" item-start color="primary"></ion-icon>
        <ion-label floating>Dealer Contact</ion-label>
        <ion-input no-margin [(ngModel)]="dealerContact" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon item-start name="barcode" color="primary"></ion-icon>
        <ion-label floating no-margin>Bill Number</ion-label>
        <ion-input [(ngModel)]="billNumber"></ion-input>
      </ion-item>

      <div *ngIf="!billPic;else image" (click)="onBillUpload()" class="addproduct uploadBill">
        <ion-icon name="cloud-upload"></ion-icon>
        <br>
        <div>Upload Bill</div>
      </div>
      <ion-spinner name="bubbles" *ngIf="showSpinner"></ion-spinner>

      <ng-template #image *ngIf="billPic">
        <ion-card>
          <button ion-button clear float-right (click)="onRemoveImage()">Remove Bill</button>
          <img [src]="billPic" alt="Bill Pic">
        </ion-card>
      </ng-template>
    </ion-list>
  </ion-card>

  <div padding>
    <button ion-button full (click)="onProductAdd()" round>Register</button>
  </div>
</ion-content>
