page-account {
    .accountImage{
        position: relative;
        display: -webkit-inline-box;
    }
    .updateImage{
        background: white;
    bottom: 0;
    position: absolute;
    right: -7px;
    border-radius: 50%;
    height: 50px;
    border: 2px solid white;
    ion-icon{
      font-size: 2.2em
    }
    }
}
