<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon class="menuIcons" name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background-color">

  <div text-center >

    <div class="accountImage">
      <!-- <img [src]="userInfo?.picUrl || 'assets/imgs/avatar.png'" class="sideBarAvatar"> -->
      <img [src]="userInfo?.picUrl || 'assets/imgs/avatar.png'" class="accountImage">
      <button *ngIf="!showSpinner" class="updateImage" small ion-button clear (click)="onPicEdit()"><ion-icon name="md-create"></ion-icon></button>
      <ion-spinner *ngIf="showSpinner"></ion-spinner>
      <span class="accountName">{{userInfo?.name}} </span>
      <ion-icon small item-end name="md-create" color="primary" (click)="onOtherEdit('name',userInfo?.name)"></ion-icon>
    </div>
   
  </div>

  <div class="background-color">
    <ion-list>
        <!-- <ion-item>
         <ion-icon item-start name="md-contact" color="primary" ></ion-icon>
        <ion-label>{{userInfo?.name}} </ion-label>
      </ion-item> -->
      <ion-item>
        <ion-icon item-start name="call" color="primary"></ion-icon>
        <small class="primaryColor">Phone</small>
        <!-- <ion-icon small item-end name="md-create" color="primary" (click)="onOtherEdit('contactNo',userInfo?.contactNo)"></ion-icon> -->
        <div>{{userInfo?.contactNo}}</div>
      </ion-item>
      <ion-item>
        <ion-icon item-start name="mail" color="primary"></ion-icon>
        <small class="primaryColor">Email</small>
        <ion-icon small item-end name="md-create" color="primary" (click)="onOtherEdit('email',userInfo?.email)"></ion-icon>
        <div>{{userInfo?.email}} </div>
      </ion-item>

      <ion-item *ngFor="let addr of userInfo?.addresses;let i =index">
        <ion-icon  item-start ios="ios-home" md="md-home" color="primary"></ion-icon>
        <ion-icon small item-end name="md-create" color="primary" (click)="onOtherEdit('address',addr,i)"></ion-icon>
        <small class="primaryColor">Address</small>
        <h6 style="font-weight: bold">{{addr.addressType}}</h6>
        <p>{{addr.address}}, {{addr.postalCode}}</p>
        <p>{{addr.city}}, {{addr.state}}, {{addr.country}}</p>
        <div *ngIf="addr.phone" style="font-size: 14px;">
          <ion-icon name="call" float-left></ion-icon>
          {{addr.phone}}
        </div>
      </ion-item>

      <button ion-button *ngIf="userInfo?.addresses.length==0" clear float-right (click)="onOtherEdit('address')">Add Address</button>
    </ion-list>
  </div>
</ion-content>