<ion-header>
 <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center class="prductDetails" col-6 *ngFor="let p of products; let i=index" (click)="openProductDetailPage(i)">
        <img [src]="p.productPicUrl" width="50%;" />
        <h6 no-margin>{{p.productBrand}}</h6>
        <p no-margin>{{p.productName}}</p>
        <ion-badge *ngIf="p.warrantyPeriodEnd">W</ion-badge>
        <ion-badge *ngIf="p.warrantyPeriodEnd">{{p.warrantyPeriodEnd}}</ion-badge>
        <ion-badge *ngIf="!p.warrantyPeriodEnd">Warranty Expired</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab (click)="openAddProductPage()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer>
    <sort-filter [sortSelected]="'false'" [filterSelected]="'false'" (onSelect)="onSortFilterSelect($event)"></sort-filter>
</ion-footer>